/* Popup Styling */
.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    bottom: 12px;
    left: -50px;
    min-width: 180px;
  }
  
  .ol-popup:after,
  .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
  }
  
  .ol-popup:before {
    border-top-color: #ccc;
    border-width: 11px;
    left: 50%;
    margin-left: -11px;
  }
  
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  
  /* Add styles to the content within the popup */
  #popup-content {
    max-width: 250px;
    font-size: 14px;
  }
  
  /* Style the tables if you have them */
  #pointTable, #polygonTable, #polylineTable {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
  }
  
  #pointTable td, #polygonTable td, #polylineTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  #pointTable th, #polygonTable th, #polylineTable th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }